.counter {
    text-align: center;
}

.counter #counter {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background: #333;
    border-radius: 5px;
}

.counter #counter .counter-value {
    color: #f2f2f2;
    vertical-align: middle;
}

.counter #counter .counter-info {
    color: #f2f2f2;
    vertical-align: middle;
}