@import url('base.css');

.h_container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
}

h1 {
    color: var(--white);
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}

.center {
    text-align: center;
    color: var(--white);
    justify-content: center;
}

.h_container p, .h_container .how-to ol li {
    color: var(--white);
    font-size: 22px;
    line-height: 1.4;
}

::-webkit-file-upload-button {
    border-radius: 25px;
    background-color: var(--white); 
    color: var(--black); 
    padding: 10px 10px;
    transition: background-color 0.3s;
    font-weight: bold;
    justify-content: center;
}

::-webkit-file-upload-button:hover {
    background-color: var(--black); 
    color: var(--white);
}

.button {
    background-color: var(--white); 
    color: var(--black);
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 25px;
    justify-content: center;
    
}

.button:hover {
    background-color: var(--black);
    color: var(--white);
}

.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 600px) {
    .h_container {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    .h_container p, .h_container .how-to p, label, .button {
        font-size: 15px;
    }

    .button {
        padding: 10px;
        font-size: 16px;
    }
}