@import url(base.css);

.pg_container {
    width: 30%;
    margin-top: 60px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.5);
    color: var(--white);
    text-align: center;
}

.column {
    justify-content: center;
}

.card {
    text-align: center;
    color: var(--white);
    border-radius: 25px;
    justify-content: center;
}


.button {
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    outline: none;
    color: var(--black);
    border: none;
    border-radius: 25px;
    background-color: var(--white);
    margin-top: 40px;
    padding: 10px 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--black);
    color: var(--white);
}
.button:active {
    background-color: var(--black);
    color: var(--white);
}
