<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/about.css">
    <title>About Project</title>
</head>

{% extends 'navbar.html' %}

<body>
<div class="p_container">
    <h1 class="project-title">Project Insights</h1>

    <section class="row">
        <article class="column">
            <div class="card">
                <h2>Deep Learning Explorations</h2>
                <img src="static/img/MIT-Neural-Networks-SL.gif" alt="Visualization of a neural network" style="width:200px; height:200px;">
                <p>In the deep learning section, the main focus was:</p>
                <ul>
                    <li><strong>Preprocessing:</strong> With the Librosa library, extracting features like MFCCs, Chroma, and RMS to set the stage for sophisticated analysis.</li>
                    <li><strong>Model Training:</strong> Those features were channeled into a Convolutional Neural Network (CNN), training it to discern and categorize music genres
                        with precision.
                    </li>
                </ul>
            </div>
        </article>

        <article class="column">
            <div class="card">
                <h2>Web Programming </h2>
                <img src="static/img/flask-logo-png-transparent.png" alt="Flask Framework Logo" style="width:200px; height:200px;">
                <p>Flask is minimalist framework in Python that empowers to weave together the threads of web development and machine learning. In this project, Flask serves as the
                    backbone for the deep learning models to life on the web.</p>
                <ul>
                    <li><strong>Deployment:</strong> Combining Flask with deep learning model allowed to craft the music genre recognition on the home page</li>
                </ul>

            </div>
        </article>
        <article class="column">
            <div class="card">
                <h2>GitHub Integration</h2>
                <a href="https://github.com/mszkudla" target="_blank">
                    <img src="static/img/github-mark.svg" alt="Github Logo" style="width:200px; height:200px;">
                </a>
                <p>GitHub is a version control and collaborative development of this project. It hosts the source code and provides tools for code management.</p>
                <ul>
                    <li><strong>Version Control:</strong> GitHub is used to track changes, manage branches, and maintain the history of the project's development.</li>
                    <li><strong>Repository:</strong> check out the project repository on <a href="https://github.com/mszkudla" target="_blank">my GitHub profile</a>.</li>
                </ul>
            </div>
        </article>
    </section>
</div>
>
</body>