<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/homepage.css">
    <link rel="stylesheet" href="static/css/base.css">

</head>
<header>
    <div class="menu-toggle" id="navbar">
        <i class="fas fa-bars"></i>
    </div>
    <div class="container">
        <nav>
            <h1 class="brand"><a href="{{ url_for('homepage') }}">Music<span> Genre</span> Classifier</a></h1>
            <ul>
                <li><a href="{{ url_for('homepage') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('privacy_policy') }}">Privacy policy</a></li>
            </ul>
        </nav>
    </div>
</header>


<body>


<div class="h_container">
    <div class="center">
        <h1>Music Genre Recognition</h1><br>
    </div>
    <div class="center">
        <p>Discover the genres of unknown songs with ease. App powered by deep learning and built with Flask. Enjoy learning about new music genres effortlessly!</p><br>
    </div>
    <div class="center how-to">
        <p>How to Use the Music Genre Recognition App?</p>
        <ol>
            <li>Load the song whose genre you want to recognize.</li>
            <li>Ensure the file is in WAV or MP3 format and is at least 30 seconds long to get an accurate prediction.</li>
            <li>Click the 'Recognize' button.</li>
        </ol>
    </div>
    <br>
    <div class="center">
        <form action="/prediction" method="post" enctype="multipart/form-data">
            <label for="audio-upload">Select a file:</label>
            <input type="file" id="file" name="file" required="required" accept="audio/*">
            <a id="link" download style="display: none"></a><br><br>
            <ul id="myList">
            </ul>
            <br><br>
            <button type="submit" class="button" formtarget="_self"><span>Recognize</span></button>
        </form>
    </div>
</div>

<script type="text/javascript"
        src="{{ url_for('static', filename='js/upload_audio.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/display_audio.js') }}"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</body>
</html>